<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container">
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	    </div>
	</div>
</nav>
<div class="container">
	<div class="row">
	    <div class="col-md-12">
	        <h2 >Smartphone</h2>
	    </div>
	</div>
	<hr>
	<div class="row">
	    <div style="width:300px;float:left">
	        <img class="img-responsive" class="img-responsive" src="images/smartphone2.jpg" alt="">
	    </div>
	    <div style="width:200px;float:left">
	    	<h4>Description</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio.</p>
	        <h1>$ {{price}}</h1>
	        
				<input  [(ngModel)]="bidValue" class="form-control" style="margin-bottom:10px">
				<button class="btn btn-default" (click)="bid()">Place Bid</button>
			
	    </div>
	</div>
	<hr>
</div>



